<div
  class="hidden md:block fixed w-60 h-screen bg-gray-900 text-white text-center space-y-2 p-3 z-10">

  <div class="text-xl mt-2 mb-5 border-b border-gray-800 pb-5 flex-col" *ngIf="userStore.loggedIn">
    <div class="w-20 mx-auto relative">
      <img *ngIf="!userStore.avatar"
           src="https://avatars.dicebear.com/api/bottts/{{userStore.username}}.svg"
           alt="avatar"/>
      <img *ngIf="userStore.avatar" src="{{api}}avatar/{{userStore.avatar}}"
           alt="{{userStore.username}}'s avatar" class="w-20 h-20 rounded-full object-cover"/>

      <div
        class="absolute right-0 bottom-0 rounded-full cursor-pointer focus:outline-none bg-gray-900 p-1">
        <form [formGroup]="avatarForm">
          <label for="avatar" class="cursor-pointer">
            <camera-icon [classes]="'w-4 h-4 text-gray-500'"></camera-icon>
          </label>

          <input type="file" class="hidden" id="avatar" formControlName="avatar"
                 (change)="avatarService.assignAvatar($event)">
        </form>
      </div>

    </div>
    <div>Hello, {{(!userStore.firstName) ? userStore.username : userStore.firstName}}</div>
  </div>

  <div class="flex flex-col items-stretch">
    <div class="py-3"
         [class.bg-gray-800]="globalStore.activeUrl === '' || globalStore.activeUrl === '/'">
      <a routerLink="">Home</a>
    </div>
    <div *ngIf="!userStore.loggedIn">
      <div class="py-3" [class.bg-gray-800]="globalStore.activeUrl === 'login'">
        <a routerLink="login">Login</a>
      </div>
      <div class="py-3" [class.bg-gray-800]="globalStore.activeUrl === 'register'">
        <a routerLink="register">Register</a>
      </div>
    </div>
    <div *ngIf="userStore.loggedIn">
      <div class="py-3" [class.bg-gray-800]="globalStore.currentActiveUrl === 'dashboard'">
        <a routerLink="dashboard">Dashboard</a>
      </div>
      <div class="py-3" [class.bg-gray-800]="globalStore.activeUrl === 'trades'">
        <a routerLink="trades">Trades</a>
      </div>
      <div class="py-3" [class.bg-gray-800]="globalStore.activeUrl === 'logout'">
        <a routerLink="logout">Logout</a>
      </div>
    </div>
  </div>
</div>