<div class="p-5 bg-white rounded-sm shadow-sm w-2/4 mx-auto mt-20">

  <h2 class="text-xl mb-4 ml-5">User Details</h2>

  <form (ngSubmit)="$event.preventDefault()" (keyup)="assignNewDetails()" class="space-y-4"
        [formGroup]="detailsForm" autocomplete="off">
    <div class="flex w-full space-x-4">
      <div class="space-y-2 w-full">
        <label for="username" class="w-1/2 ml-5 text-sm">Username</label>
        <input id="username" value="{{userStore.username}}" class="input-general w-full"
               disabled>
      </div>
      <div class="space-y-2 w-full">
        <label for="email" class="w-1/2 ml-5 text-sm">Email</label>
        <input id="email" value="{{userStore.email}}" class="input-general w-full" disabled>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="space-y-2 w-full">
        <label class="w-1/2 ml-5 text-sm">First Name</label>
        <input class="input-general w-full" placeholder="First Name" id="firstname"
               formControlName="firstName">
      </div>
      <div class="space-y-2 w-full">
        <label for="firstname" class="w-1/2 ml-5 text-sm">Last Name</label>
        <input class="input-general w-full" placeholder="Last Name" id="lastname"
               formControlName="lastName">
      </div>
    </div>

    <button (click)="saveNewDetails()" class="btn-submit mt-4 flex space-x-2 items-center"
            *ngIf="modified">
      Save
      <spinner-icon class="w-5 ml-2" *ngIf="_loading"></spinner-icon>
    </button>
  </form>

  <div class="ml-5 text-sm mt-4">
    Registered since <time>{{_registered}}</time>
  </div>

</div>