<div class="w-10 make-middle" *ngIf="_loading">
  <spinner-icon></spinner-icon>
</div>
<div *ngIf="!_loading">
  <app-user [user]="userStore" class="make-middle"></app-user>

  {{_registered}}
  <!--  <p>{{userStore.userId}}</p>-->
  <!--  <p>{{userStore.loggedIn}}</p>-->
  <!--  <p>{{userStore.username}}</p>-->
  <!--  <p>{{userStore.email}}</p>-->
  <!--  <p>{{(!userStore.firstName) ? 'no first name' : userStore.firstName}}</p>-->
  <!--  <p>{{(!userStore.lastName) ? 'no last name' : userStore.lastName}}</p>-->
  <!--  <p>{{this._registered}}</p>-->

  <!--  <br>-->

  <!--  <p>{{statsStore.count}}</p>-->
  <!--  <p>{{statsStore.topPair}}</p>-->
  <!--  <p>{{statsStore.pipsWon}}</p>-->
  <!--  <p>{{statsStore.pipsLost}}</p>-->
</div>