<div class="w-10 make-middle" *ngIf="_loading">
  <spinner-icon></spinner-icon>
</div>
<div *ngIf="!_loading">
  <app-user></app-user>

  <!-- stats box -->
  <div class="w-2/4 bg-white mx-auto mt-10 p-4 rounded-sm shadow-sm">
    <h2 class="text-xl mb-4 ml-5">User Stats</h2>

    trades placed: {{statsStore.trades}}<br>
    trades closed: {{statsStore.trades - statsStore.open}}<bR>
    top pair: {{statsStore.topPair}} traded {{statsStore.topPairCount}} times<br>
    wins: {{statsStore.wins}} <br>
    losses: {{statsStore.losses}} <br>
    open: {{statsStore.open}} <br>
    pips won: {{statsStore.pipsWon}}<br>
    pips lost: {{statsStore.pipsLost}}
  </div>
</div>