<div class="w-full mt-20 h-auto" *ngIf="pages >= 2">

  <div class="flex justify-center">

    <!-- TODO: make the arrow icons as component icons -->

    <!-- Go to first -->
    <button
      class="px-4 py-2 border-l border-t border-b border-gray-300 rounded-l-md bg-gray-200 cursor-pointer
        hover:bg-[#dfe1e6] disabled:text-gray-400 disabled:cursor-default"
      (click)="first()" [disabled]="currentPage <= 1 || !currentPage">
      <leftdouble-icon></leftdouble-icon>
    </button>

    <!-- Previous page -->
    <button
      class="px-4 py-2 border-l border-t border-b border-gray-300 bg-gray-200 cursor-pointer
        hover:bg-[#dfe1e6] disabled:text-gray-400 disabled:cursor-default"
      (click)="previous()" [disabled]="currentPage <= 1 || !currentPage">
      <left-icon></left-icon>
    </button>

    <!-- Page numbers // this will show 2 numbers on either side of the current page -->
    <div *ngFor="let i of _pages">
      <button
        class="px-4 py-2 border-l border-t border-b border-gray-300 bg-gray-200 cursor-pointer hover:bg-[#dfe1e6]"
        (click)="custom(i)"
        [class.bg-gray-300]="currentPage == i || (i === 1 && !currentPage)"
        *ngIf="(i >= currentPage-2 && i <= +currentPage+2)">
        <span>{{i}}</span>
        <span class="text-xs text-gray-500">{{(currentPage == i) ? '/' + pages : ''}}</span>
      </button>
    </div>

    <!-- Next page -->
    <button
      class="px-4 py-2 border-l border-t border-b border-gray-300 bg-gray-200 cursor-pointer hover:bg-[#dfe1e6]
        disabled:text-gray-400 disabled:cursor-default"
      (click)="next()" [disabled]="currentPage == pages">
      <right-icon></right-icon>
    </button>

    <!-- Go to last -->
    <button
      class="px-4 py-2 border border-gray-300 rounded-r-md bg-gray-200 cursor-pointer hover:bg-[#dfe1e6]
        disabled:text-gray-400 disabled:cursor-default"
      (click)="last()" [disabled]="currentPage == pages">
      <rightdouble-icon></rightdouble-icon>
    </button>

  </div>

</div>
