<div class="w-10 make-middle" *ngIf="_loading">
  <spinner-icon></spinner-icon>
</div>
<div>
  <app-modal [_show]="_newTrade">
    <app-newtrade></app-newtrade>
  </app-modal>

  <app-modal [_show]="_tradeId !== ''">
    <app-trade [tradeId]="_tradeId"></app-trade>
  </app-modal>

  <div *ngIf="!_loading" class="w-1/2 mx-auto mt-10 bg-white p-5 rounded-sm shadow">
<!--    <div class="mb-20">-->
<!--      <form (submit)="$event.preventDefault()" [formGroup]="tradeForm">-->
<!--        <input type="text" formControlName="pairName" class="py-2 px-2 focus:outline-none mr-2"/>-->
<!--        <input type="number" formControlName="entry" class="py-2 px-2 focus:outline-none mr-2"/>-->
<!--        <input type="number" formControlName="exit" class="py-2 px-2 focus:outline-none mr-2"/>-->
<!--        <select formControlName="type" class="py-2 px-2 focus:outline-none mr-2">-->
<!--          <option>Long</option>-->
<!--          <option>Short</option>-->
<!--        </select>-->

<!--        <button type="submit" class="btn-submit" (click)="addTrade()">Add Trade</button>-->
<!--      </form>-->
<!--    </div>-->

    <div class="flex justify-between items-center p-1">
      <div>
        <form [formGroup]="filtersForm" class="flex">
          <div>
            <select (change)="setTake()" formControlName="take"
                    class="bg-transparent p-3 mr-3 focus:outline-none">
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>

          <div class="relative">
            <div>
              <input (keyup)="setSearchTerm()" formControlName="search"
                     class="input-general pl-8 pr-2" placeholder="Filter by pair.">
            </div>
            <div class="absolute top-3 left-2 opacity-50">
              <magnifyingglass-icon classes="w-5 h-5"></magnifyingglass-icon>
            </div>
          </div>
        </form>
      </div>
      <button class="btn-submit" (click)="newTrade()">
        <plus-icon classes="w-5 h-5"></plus-icon>
      </button>
    </div>
    <table class="w-full text-center">
      <tr>
        <th class="border border-gray-800">Pair</th>
        <th class="border border-gray-800">Entry</th>
        <th class="border border-gray-800">Exit</th>
        <th class="border border-gray-800">Type</th>
        <th class="border border-gray-800">Outcome</th>
      </tr>

      <tbody *ngIf="_tableLoading">... loading ...</tbody>
      <tbody *ngIf="!_tableLoading">
      <tr *ngFor="let trade of trades" class="hover:bg-gray-200 hover:cursor-pointer"
          (click)="viewTrade(trade.tradeId)">
        <td class="border border-gray-800">{{trade.pairName}}</td>
        <td class="border border-gray-800">{{trade.entry}}</td>
        <td class="border border-gray-800">{{trade.exit}}</td>
        <td class="border border-gray-800">{{trade.type}}</td>
        <td
          class="border border-gray-800">{{tradeStatus(trade.type, trade.entry, (trade.exit) ? trade.exit : 0)}}</td>
      </tr>
      </tbody>
    </table>

  </div>

  <app-pagination *ngIf="!_tableLoading" [pages]="_pages" [currentPage]="_pageNumber"
                  (navigateTo)="navigateTo($event)"></app-pagination>
</div>